.radial-progress {
    min-width: 26px;
    min-height: 20px;
    --track-color: rgba(255, 255, 255, 0.5);
    --progress-color: #fd9c31;
    --percentage-color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: center;
}

.radial-progress__label {
    -unity-text-align: middle-left;
    color: var(--percentage-color);
    font-size: 80px;
}